:root {
  background-color: #f4c430;
}

*{box-sizing: border-box;
margin:0;
padding: 0;
font-size: 65.5%;
font-family: 'Nova Square', cursive;
background-color: #f4c430;
}
h1{font-size: 5rem;
  color: aliceblue;
  margin-bottom: 5rem;

}
h2{font-size: 4.2rem;
margin-bottom: 4.2rem;
}
.container{
 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  }
.flex-column{
  display: flex;
  flex-direction: column;

} 
.flex-center{
  justify-content: center;
  align-items: center;
} 
.justify-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}
.hidden{
  display: none;
}
.btn{
  font-size: 4.2rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom:1rem ;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255)100% );
}
.btn:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(8,114,244 ,0.6);
  transition: transform 150ns;
  transform: scale(1.03);
}
.btn[disabled]:hover{
  cursor: not-allowed;
  box-shadow: not-allowed;
  transform: not-allowed;

}
#highscore-btn{
  background: linear-gradient(90de , rgb(255,247,9)0%, rgb(248,221,6)100%);
}
#highscore-btn:hover{
  box-shadow: 0 0.4rem 1.4rem 0 rgb(225,225,0,0.5);
}
.fa-crown{
  font-size: 2.5rem;
  margin-left:1rem ;
}
.choice-container{
  display:flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background-color:#9388A2 ;
  font-size: 3rem;
  min-width: 80rem;
}
.choice-container:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 ( #695E93 , 0.5);
  transform: scale(1.02);
  transform: transform 100ns;

}
.choice-prefix{
  padding: 2rem 2.5rem;
  color:white;
}
.choice-text{
  padding:2rem;
  width:100%;
}
.correct{
  background:  linear-gradient(32de , rgb(11,223,36)0%, rgb(41,232,111)100%);
}
.incorrect{
  background:  linear-gradient(32de , rgb(230,29,29,1)0%, rgb(224,11,11,1)100%);
}
#hud{
  display: flex;
  justify-content: space-between;
}
.hud-prefix{
  text-align: center;
  font-size: 2rem;
}
